<div class="overshadow"
     (click)="closeEdit()">
</div>

<div class="saving-over"
     *ngIf="isSaving$| async">
    <mat-spinner color="accent"></mat-spinner>
</div>

<div class="edit-area">


    <div class="close-btn"
         (click)="closeEdit()">
    <span class="material-icons">
      close
    </span></div>

    <div class="scroll-inside">

        <div class="container-fluid">

            <form [formGroup]="form" (submit)="saveData()">


                <div class="row">
                    <div class="col-md-4">
                        <mat-form-field class="w-100">
                            <input matInput
                                   placeholder="Nazwa"
                                   formControlName="name">
                        </mat-form-field>
                        <div class="mb-2">
                            <mat-slide-toggle formControlName="showEveryWhere">Pokaż wszędzie</mat-slide-toggle>
                        </div>
                        <div class="mb-5">
                            <mat-slide-toggle formControlName="status">Status</mat-slide-toggle>
                        </div>

                        <ng-container formGroupName="popupData">
                            <mat-slide-toggle formControlName="hasLink">Czy podlinkowany?</mat-slide-toggle>
                            <mat-form-field class="w-100">
                                <input matInput
                                       placeholder="Link"
                                       formControlName="link">
                            </mat-form-field>
                            <mat-form-field appearance="fill">
                                <mat-label>Cel linku</mat-label>
                                <mat-select formControlName="target">
                                    <mat-option *ngFor="let t of targets" [value]="t">
                                        {{t}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </ng-container>
                    </div>
                    <div class="col-md-8">
                        <img *ngIf="popup.popupData?.image?.path && !croppedImage" [src]="webUrl+popup.popupData?.image?.path" class="img-fluid d-block">
                        <img *ngIf="croppedImage" [src]="croppedImage" class="img-fluid d-block">
                        <div>
                            <button mat-raised-button color="primary" type="button" (click)="addImage()">
                                <mat-icon>
                                    image
                                </mat-icon>
                            </button>
                            <button *ngIf="popup.popupData?.image?.path && croppedImage" mat-raised-button color="accent" type="button" (click)="croppedImage = null">
                                <mat-icon>
                                    replay
                                </mat-icon>
                            </button>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-6">
                        <button mat-raised-button
                                color="primary"
                                class="btn-save">
                            Zapisz
                        </button>
                    </div>
                </div>
            </form>

        </div>

    </div>

</div>
