<div class="overshadow"
     (click)="closeEdit()">
</div>

<div class="edit-area">

  <div class="close-btn"
       (click)="closeEdit()">
    <span class="material-icons">
      close
    </span>

  </div>

  <div class="scroll-inside">

    <div class="container-fluid">
      <ng-container *ngIf="!sortMode">
        <div class="row">
          <div class="col-md-4">
            <button mat-raised-button
                    color="primary"
                    type="button"
                    (click)="add()"
            >
              <mat-icon>add_circle</mat-icon>
            </button>
            <button mat-raised-button
                    color="primary"
                    type="button"
                    (click)="changeOrder()"
            >
              <mat-icon>sort</mat-icon> Zmiana kolejności
            </button>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <hr>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4" *ngFor="let g of progressGalleries;let i = index">
            <app-progress-gallery-element [progressGalleryElement]="g" [index]="i" (onRemove)="remove($event)" (onChange)="onChangeElement($event)"></app-progress-gallery-element>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <button
              class="btn btn-lg btn-primary btn-save"
              (click)="changeGallery()"
            >
              Zachowaj zmiany i zamknij
            </button>
          </div>
        </div>
      </ng-container>

      <ng-template #tempEdit></ng-template>

    </div>

  </div>

</div>

