<div class="row">
  <div class="col-md-12">
    <button mat-raised-button color="primary" type="button" (click)="addNew()">
      <mat-icon>add</mat-icon> Dodaj
    </button>
    <button mat-raised-button color="primary" class="ms-2" type="button" (click)="openSort()">
      <mat-icon>reorder</mat-icon> Kolejność działów
    </button>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <hr>
  </div>
</div>
<div class="row">
  <div class="col-md-4 border p-4" *ngFor="let department of departments">
    <app-department-element [department]="department" (onEditStart)="onEditStart($event)" (onDelete)="onDelete($event)"></app-department-element>
  </div>
</div>
<ng-template #temp></ng-template>
