.slide-element{
    position: relative;
}
.bt-remove{
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.bt-add-logo{
    position: absolute;
    right: 100px;
    bottom: 20px;
}

.bt-add-image{
    position: absolute;
    right: 280px;
    bottom: 20px;
}

.slide-logo {
    position: absolute;
    bottom: 80px;
    right: 20px;
    width: 20%;
}


.bt-remove-logo {
    position: absolute;
    right: 5px;
    bottom: 5px;
}
