<h2>
  {{office.title}}
</h2>
<p class="text-primary" [innerHTML]="office.address">
</p>
<div class="mt-2">
  <form [formGroup]="form">
    <button mat-raised-button [color]="mainColor" type="button" (click)="setMainForm()">
      <mat-icon>
        grade
      </mat-icon> główny
    </button>
  </form>
</div>
<div class="mt-2">
  <button mat-raised-button color="primary" type="button" (click)="openEdit()">
    <mat-icon>
      edit
    </mat-icon>
  </button>
  <button mat-raised-button color="warn" class="ms-1" type="button" (click)="delete()">
    <mat-icon>
      delete
    </mat-icon>
  </button>
</div>
