<div class="row">
  <div class="col-md-12">
    <h3>PLAN SYTUACYJNY</h3>
    <img
            *ngIf="infoAssets?.situaPlan"
            [src]="webUrl+infoAssets.situaPlan.src"
            class="img-fluid"
    >
    <button mat-raised-button color="primary" type="button" (click)="editImage('situaPlan')">
      <mat-icon>
        image
      </mat-icon>
    </button>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <hr>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h3>LOKALIZACJA BUDYNKU</h3>
    <img
      *ngIf="infoAssets?.buildingLocation"
      [src]="webUrl+infoAssets.buildingLocation.src"
      class="img-fluid"
    >
    <button mat-raised-button color="primary" type="button" (click)="editImage('buildingLocation')">
      <mat-icon>
        image
      </mat-icon>
    </button>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <hr>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h3>PLAN LOKALU</h3>
    <img
      *ngIf="infoAssets?.plan"
      [src]="webUrl+infoAssets.plan.src"
      class="img-fluid"
    >
    <button mat-raised-button color="primary" type="button" (click)="editImage('plan')">
      <mat-icon>
        image
      </mat-icon>
    </button>
  </div>
</div>

