<div class="login-container">
  <div class="login-cell">

    <div class="row">
      <div class="col-md-4 offset-md-4 login-col">
        <div class="over-loading"
          *ngIf="spinnerShow">
          <mat-spinner></mat-spinner>
        </div>

        <h2>Logowanie</h2>
        <form class="example-form"
          (ngSubmit)="sumbmitLogin()">
          <mat-form-field class="example-full-width">

            <input [(ngModel)]="email"
              name="email"
              matInput
              placeholder="Email"
              type="text"
              #userEmail="ngModel">
            <!-- <mat-error *ngIf="userEmail.errors?.pattern">
              Podaj email w poprawnym formacie
            </mat-error> -->
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input [(ngModel)]="password"
              name="password"
              matInput
              placeholder="Hasło"
              type="password">
          </mat-form-field>

          <p class="text-danger"
            *ngIf="isAuthAlert">
            Błąd autoryzacji podaj prawidłowe dane
          </p>
          <button mat-raised-button
            color="primary"
            class="w-100"
            type="submit">Loguj</button>
        </form>
      </div>
    </div>

  </div>
</div>
