<div class="row">
  <div class="col-md-12">
    <button mat-raised-button color="primary" type="button" (click)="addNew()">
      <mat-icon>add</mat-icon> Dodaj
    </button>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <hr>
  </div>
</div>
<div class="row">
  <div class="col-md-4 border p-4" *ngFor="let office of offices">
    <app-office-row [office]="office" (onEditStart)="onEditStart($event)" (onDelete)="onDelete($event)"></app-office-row>
  </div>
</div>
<ng-template #temp></ng-template>
