<div class="row">
  <div class="col-md-4">
    <div class="w-100">
      <iframe [src]="safeSrc" class="embed-responsive-item" frameborder="0" #embedVideo
              webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Youtube ID" [(ngModel)]="movie.movieSelector"
             (ngModelChange)="movieYTChange()">
    </mat-form-field>
  </div>
  <div class="col-md-4">
    <img [src]="thumMovieImageSource" class="img-fluid" *ngIf="thumMovieImageSource">
    <button mat-raised-button color="primary" type="button" (click)="addImage()">
      <mat-icon>
        image
      </mat-icon>
    </button>
  </div>
  <div class="col-md-4">
    <button mat-raised-button color="primary" type="button" [disabled]="disabled" (click)="addMovie()">
      <mat-icon>
        add_circle
      </mat-icon>
      Dodaj film
    </button>
  </div>
</div>
