<nav id="navBarMd">
  <mat-toolbar color="primary">
    <button mat-icon-button
      [matMenuTriggerFor]="menu"
      aria-label="">
      <mat-icon>menu</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <a mat-menu-item
        [routerLink]="['/panel']">Start</a>
      <a mat-menu-item
         [routerLink]="['/panel/pages']">Strony</a>
      <a mat-menu-item
         [routerLink]="['/panel/variants']">Kategorie inwestycji</a>
      <a mat-menu-item
         [routerLink]="['/panel/investitions']">Inwestycje</a>
      <a mat-menu-item
         [routerLink]="['/panel/departments']">Działy</a>
      <a mat-menu-item
         [routerLink]="['/panel/offices']">Biura</a>
      <a mat-menu-item
         [routerLink]="['/panel/contacts']">Kontakty</a>
      <a mat-menu-item
         [routerLink]="['/panel/articles']">Artykuły</a>
      <a mat-menu-item
         [routerLink]="['/panel/messages']">Ogłoszenia</a>
      <a mat-menu-item
         [routerLink]="['/panel/popups']">Popups</a>
    </mat-menu>

    <a [routerLink]="['/panel']">
      Napollo
    </a>

    <!-- <ul role="navigation" class="menu-links list-unstyled">
      <li>
        <a [routerLink]="['/panel/list-menu']">Lista menu</a>
      </li>
      <li>
        <a [routerLink]="['/panel/menu-elements']">Elementy karty w kategoriach</a>
      </li>
      <li>
        <a [routerLink]="['/panel/options-and-config']">Opcje i konfiguracja</a>
      </li>
      <li>
        <a [routerLink]="['/panel/orders-board']">Tablica zamówień</a>
      </li>
      <li>
        <a [routerLink]="['/panel/order-menu']">Złóż zamówienie</a>
      </li>

    </ul> -->

    <span class="spacer"></span>
    <button mat-button
      (click)="logOut()">
      Wyloguj
    </button>
    <a [href]="webUrl" target="_blank" class="d-flex align-items-center">
      <mat-icon>preview</mat-icon>
      Zobacz stronę
    </a>
  </mat-toolbar>
</nav>
