<mat-grid-list cols="3"
  rowHeight="3:1">
  <mat-grid-tile>
    <a [routerLink]="[ '/panel/pages']"
       class="link-box">
      <span class="material-icons">
        dynamic_feed
      </span>
      Strony
    </a>
  </mat-grid-tile>
  <mat-grid-tile>
    <a [routerLink]="[ '/panel/variants']"
       class="link-box">
      <span class="material-icons">
        home_work
      </span>
      Kategorie Inwestycji
    </a>
  </mat-grid-tile>
  <mat-grid-tile>
    <a [routerLink]="[ '/panel/investitions']"
       class="link-box">
      <span class="material-icons">
        apartment
      </span>
      Inwestycje
    </a>
  </mat-grid-tile>
  <mat-grid-tile>
    <a [routerLink]="[ '/panel/departments']"
       class="link-box">
      <span class="material-icons">
        groups
      </span>
      Działy
    </a>
  </mat-grid-tile>
  <mat-grid-tile>
    <a [routerLink]="[ '/panel/offices']"
       class="link-box">
      <span class="material-icons">
        meeting_room
      </span>
      Biura
    </a>
  </mat-grid-tile>
  <mat-grid-tile>
    <a [routerLink]="[ '/panel/contacts']"
       class="link-box">
      <span class="material-icons">
        badge
      </span>
      Kontakty
    </a>
  </mat-grid-tile>
  <mat-grid-tile>
    <a [routerLink]="[ '/panel/articles']"
       class="link-box">
      <span class="material-icons">
        article
      </span>
      Artykuły
    </a>
  </mat-grid-tile>
  <mat-grid-tile>
    <a [routerLink]="[ '/panel/messages']"
       class="link-box">
      <span class="material-icons">
        description
      </span>
      Ogłoszenia
    </a>
  </mat-grid-tile>
  <mat-grid-tile>
    <a [routerLink]="[ '/panel/popups']"
       class="link-box">
      <span class="material-icons">
        collections
      </span>
      Popupy
    </a>
  </mat-grid-tile>
</mat-grid-list>
